openapi: 3.1.0
info:
  title: AiFinPay AIFP-1 Merchant Monetization API
  version: 1.0.0-draft
  summary: HTTP 402 merchant-monetization protocol for AI-agent traffic.
  description: |
    Machine-readable reference contract for the AIFP-1 draft specification.
    AIFP-1 is the merchant AI-traffic/resource monetization profile. It uses
    HTTP 402 but is not identical to AIFP-2/x402.

    Current AIFP-1 reference action prices:
      - standard: USD 0.0005
      - complex: USD 0.002
      - premium: USD 0.005

    Current AIFP-1 economics:
      - treasury_bps: 100 (1% AiFinPay protocol fee)
      - creator_bps: 0

    AIFP-2/x402 is a separate 0/0 route profile and is outside this OpenAPI
    contract. This specification does not claim that every route, asset, chain,
    or hosted endpoint is production-live.
  contact:
    name: AiFinPay Protocol Team
    url: https://aifinpay.io
    email: protocol@aifinpay.io
  license:
    name: Apache-2.0
    identifier: Apache-2.0
  x-protocol: AIFP-1
  x-status: draft
  x-economics:
    treasury_bps: 100
    creator_bps: 0
    standard_usd: "0.0005"
    complex_usd: "0.002"
    premium_usd: "0.005"

servers:
  - url: https://api.aifinpay.io
    description: AiFinPay API host when the referenced AIFP-1 service is enabled

security:
  - bearerAuth: []

tags:
  - name: Quote
    description: Create binding AIFP-1 merchant-payment quotes.
  - name: Settlement
    description: Verify payer-executed settlements before receipt issuance.
  - name: Receipt
    description: Retrieve settlement-backed AIFP-1 receipts.
  - name: Verification
    description: Verify receipt keys and, optionally, receipt claims.

paths:
  /v1/quote:
    post:
      tags: [Quote]
      operationId: createAifp1Quote
      summary: Create a binding AIFP-1 quote
      description: |
        A payable quote MUST only be returned for a settlement route that the
        active verifier can validate. Unsupported or unverifiable routes must
        fail before the payer is instructed to send funds.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteRequest'
            examples:
              standard:
                value:
                  merchant_id: mrch_example
                  resource: /api/data
                  pricing_tier: standard
                  units: 1
      responses:
        '200':
          description: Binding quote issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
              examples:
                standard:
                  value:
                    quote_id: qt_example
                    protocol: AIFP-1
                    route_class: AIFP-1
                    merchant_id: mrch_example
                    resource: /api/data
                    pricing_tier: standard
                    merchant_amount: "0.0005"
                    currency: USD
                    treasury_bps: 100
                    creator_bps: 0
                    asset: USDC
                    chain: polygon
                    settlement_target: "0xExampleSettlementTarget"
                    expires_at: "2026-08-15T12:00:00Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Requested profile conflicts with route policy.
        '422':
          description: Requested asset/chain/profile is unsupported or unverifiable.
        '503':
          description: No verifiable settlement route is currently available.

  /v1/pay:
    post:
      tags: [Settlement]
      operationId: verifyAifp1SettlementAndIssueReceipt
      summary: Verify a payer-executed settlement and issue a receipt
      description: |
        The payer signs and broadcasts the settlement using its own wallet or
        another explicitly supported payer rail. This endpoint verifies the
        submitted settlement reference against the binding quote. A receipt
        MUST NOT be issued unless verification succeeds.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayRequest'
            examples:
              polygon:
                value:
                  quote_id: qt_example
                  chain: polygon
                  asset: USDC
                  tx_ref: "0xExampleTransactionHash"
      responses:
        '200':
          description: Settlement verified and receipt issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receipt'
        '202':
          description: Settlement observed but finality is still pending.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PendingSettlement'
        '409':
          description: Duplicate/replay/idempotency conflict.
        '410':
          description: Quote expired or is no longer payable.
        '422':
          description: Settlement does not match the quote.
        '503':
          description: Settlement verifier unavailable; no receipt issued.

  /v1/receipt/{receipt_id}:
    get:
      tags: [Receipt]
      operationId: getAifp1Receipt
      summary: Retrieve receipt or settlement status
      parameters:
        - name: receipt_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Receipt record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receipt'
        '404':
          description: Receipt not found.

  /v1/verify:
    post:
      tags: [Verification]
      operationId: assistedReceiptVerification
      summary: Optional assisted receipt verification
      description: |
        Merchant implementations SHOULD verify receipt signatures and claims
        locally. This endpoint is an optional compatibility helper and does not
        replace settlement verification before receipt issuance.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequest'
      responses:
        '200':
          description: Verification decision.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResult'
        '422':
          description: Invalid or mismatched receipt.

  /.well-known/jwks.json:
    get:
      tags: [Verification]
      operationId: getReceiptVerificationKeys
      summary: Public keys for receipt verification
      security: []
      responses:
        '200':
          description: JSON Web Key Set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Jwks'
        '503':
          description: Verification-key service unavailable.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        minLength: 16
      description: Unique key used to prevent duplicate payment processing.

  schemas:
    PricingTier:
      type: string
      enum: [standard, complex, premium]

    RouteClass:
      type: string
      const: AIFP-1

    DecimalString:
      type: string
      pattern: '^[0-9]+(?:\.[0-9]+)?$'
      examples: ["0.0005"]

    QuoteRequest:
      type: object
      additionalProperties: false
      required: [merchant_id, resource, pricing_tier]
      properties:
        merchant_id:
          type: string
          minLength: 1
        resource:
          type: string
          minLength: 1
        scope:
          type: string
          description: Optional exact/prefix/merchant scope requested by the payer.
        pricing_tier:
          $ref: '#/components/schemas/PricingTier'
        units:
          type: integer
          minimum: 1
          default: 1
        preferred_asset:
          type: string
        preferred_chain:
          type: string

    Quote:
      type: object
      additionalProperties: true
      required:
        - quote_id
        - protocol
        - route_class
        - merchant_id
        - resource
        - merchant_amount
        - treasury_bps
        - creator_bps
        - expires_at
      properties:
        quote_id:
          type: string
        protocol:
          type: string
          const: AIFP-1
        route_class:
          $ref: '#/components/schemas/RouteClass'
        merchant_id:
          type: string
        resource:
          type: string
        scope:
          type: string
        pricing_tier:
          $ref: '#/components/schemas/PricingTier'
        merchant_amount:
          $ref: '#/components/schemas/DecimalString'
        total_amount:
          $ref: '#/components/schemas/DecimalString'
        currency:
          type: string
          default: USD
        treasury_bps:
          type: integer
          const: 100
        creator_bps:
          type: integer
          const: 0
        asset:
          type: string
        chain:
          type: string
        settlement_target:
          type: string
        payment_id:
          type: string
        order_id:
          type: string
        expires_at:
          type: string
          format: date-time

    PayRequest:
      type: object
      additionalProperties: false
      required: [quote_id, chain, asset, tx_ref]
      properties:
        quote_id:
          type: string
        chain:
          type: string
        asset:
          type: string
        tx_ref:
          type: string
          minLength: 1

    Receipt:
      type: object
      additionalProperties: true
      required: [receipt_id, protocol, route_class, merchant_id, status, receipt, issued_at, expires_at]
      properties:
        receipt_id:
          type: string
        protocol:
          type: string
          const: AIFP-1
        route_class:
          $ref: '#/components/schemas/RouteClass'
        merchant_id:
          type: string
        resource:
          type: string
        scope:
          type: string
        quote_id:
          type: string
        tx_ref:
          type: string
        merchant_amount:
          $ref: '#/components/schemas/DecimalString'
        treasury_bps:
          type: integer
          const: 100
        creator_bps:
          type: integer
          const: 0
        status:
          type: string
          enum: [settled, final]
        receipt:
          type: string
          description: Signed receipt token or encoded receipt according to the active receipt profile.
        issued_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time

    PendingSettlement:
      type: object
      required: [status]
      properties:
        status:
          type: string
          const: pending
        receipt_id:
          type: string
        retry_after_seconds:
          type: integer
          minimum: 1

    VerifyRequest:
      type: object
      additionalProperties: false
      required: [receipt, merchant_id, resource]
      properties:
        receipt:
          type: string
        merchant_id:
          type: string
        resource:
          type: string
        required_amount:
          $ref: '#/components/schemas/DecimalString'

    VerifyResult:
      type: object
      required: [valid]
      properties:
        valid:
          type: boolean
        reason:
          type: string
        claims:
          type: object
          additionalProperties: true

    Jwks:
      type: object
      required: [keys]
      properties:
        keys:
          type: array
          items:
            type: object
            additionalProperties: true

    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
        detail:
          type: string

  responses:
    BadRequest:
      description: Malformed request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
